/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 9 10 11 18 19 20 21 22 23 32 33 34 35 36 37 44 45 46 47 48 49 8 31>;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40 41 42 43>;
        };

        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            //flavor = "balanced";

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 31 32 33 34 35 36 37 44 45 46 47 48 49>;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;

            // for quick tapping; shift+~

            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40 41 42 43>;
        };

        /*
         * Non-Positional Homerow Mods
         * Used for &mm_grescm_gui behavior on left hand.
         *
         * Usage: &hm LSHFT T
         * Tap: T
         * Tap-Tap-Hold: Repeat T
         * Hold: LSHIFT
         */

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <200>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        capslock {
            bindings = <&kp CAPS>;
            key-positions = <38 49>;
            layers = <0 5>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <22 23>;
            layers = <0 5>;
        };

        Togle-NoHomeRowMod {
            bindings = <&tog 5>;
            key-positions = <49 48 47>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <38 39>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <38 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&mt ESCAPE TAB    &kp Q         &kp W       &kp E           &kp R                &kp T                            &kp Y        &kp U                &kp I                &kp O    &kp P          &kp BACKSPACE
&kp LEFT_CONTROL  &kp A         &kp S       &hm LEFT_ALT D  &hm_shift_l LSHFT F  &kp G                            &kp H        &hm_shift_r RSHFT J  &kp K                &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_SHIFT    &kp Z         &kp X       &kp C           &kp V                &kp B      &kt K_MUTE  &mkp MB3  &kp N        &kp M                &kp COMMA            &kp DOT  &kp FSLH       &none
&none             &kp LEFT_ALT  &kp DELETE  &kp LEFT_WIN    &lt 1 LEFT_ALT       &kp SPACE                        &lt 2 ENTER  &lt 3 RIGHT_ALT      &lt 4 RIGHT_CONTROL  &none    &none          &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Nav_layer {
            bindings = <
&trans          &kp PRINTSCREEN  &trans  &trans  &kp LA(F4)  &trans                  &trans    &kp PAGE_DOWN  &kp PG_UP     &kp HOME   &kp END  &trans
&caps_word      &trans           &trans  &trans  &trans      &trans                  &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &trans   &trans
&kp LEFT_SHIFT  &trans           &trans  &trans  &trans      &trans  &trans  &trans  &trans    &trans         &trans        &trans     &trans   &trans
&trans          &trans           &trans  &trans  &trans      &trans                  &trans    &trans         &trans        &trans     &trans   &trans
            >;
        };

        symbol_layer {
            bindings = <
&kp LS(GRAVE)  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)        &kp LS(N4)         &kp LS(N5)                  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &trans
&trans         &trans      &trans      &trans            &trans             &trans                      &trans      &trans      &trans      &trans      &kp BSLH    &kp MINUS
&trans         &trans      &trans      &trans            &trans             &trans      &trans  &trans  &trans      &trans      &trans      &trans      &trans      &kp EQUAL
&trans         &trans      &trans      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LSHFT                   &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };

        Num_layer {
            bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3                &kp N4                 &kp N5                     &kp N6  &kp N7  &kp N8      &kp N9  &kp N0    &trans
&trans     &kp PLUS  &kp MINUS  &kp ASTRK             &kp SLASH              &kp EQUAL                  &trans  &trans  &trans      &trans  &kp BSLH  &kp MINUS
&trans     &trans    &trans     &trans                &trans                 &trans     &trans  &trans  &trans  &trans  &trans      &trans  &trans    &kp EQUAL
&trans     &trans    &trans     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LSHFT                  &trans  &trans  &kp DELETE  &trans  &trans    &trans
            >;
        };

        BT_and_Funtion {
            bindings = <
&trans        &kp F1  &kp F2   &kp F3   &kp F4   &trans                  &trans  &trans     &trans     &trans    &trans    &trans
&bt BT_SEL 0  &kp F5  &kp F6   &kp F7   &kp F8   &trans                  &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&bt BT_SEL 1  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans     &trans     &trans    &trans    &trans
&bt BT_SEL 2  &trans  &trans   &trans   &trans   &trans                  &trans  &trans     &trans     &trans    &trans    &studio_unlock
            >;
        };

        No-homeRowMod {
            bindings = <
&mt ESCAPE TAB    &kp Q         &kp W         &kp E         &kp R      &kp T                            &kp Y        &kp U            &kp I                &kp O    &kp P          &kp BACKSPACE
&kp LEFT_CONTROL  &kp A         &kp S         &kp D         &kp F      &kp G                            &kp H        &kp J            &kp K                &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C         &kp V      &kp B      &kt K_MUTE  &mkp MB3  &kp N        &kp M            &kp COMMA            &kp DOT  &kp FSLH       &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_WIN  &lt 1 TAB  &kp SPACE                        &lt 2 ENTER  &lt 3 RIGHT_ALT  &lt 4 RIGHT_CONTROL  &none    &none          &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
